{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<h1>Home page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum fermentum nunc, eu elementum justo tristique rhoncus. Donec mattis tincidunt elit, non convallis mi commodo in. Praesent id aliquam nibh. Nullam nec ante sapien. Nam sed mauris interdum, ultricies justo eu, lacinia orci. Integer pretium viverra nibh, efficitur gravida risus. Vivamus dignissim condimentum eros id posuere. Suspendisse congue, sem dictum varius cursus, odio enim sollicitudin erat, at dictum ex ante ac eros.</p>

<p>Cras molestie lacus quis elit imperdiet, non semper diam ornare. Pellentesque ex libero, sagittis non interdum vitae, interdum posuere nisl. Praesent auctor feugiat ex id ultrices. Aenean tincidunt, lacus nec consequat ultricies, diam ex rhoncus ipsum, et ornare nulla sem non urna. Curabitur commodo nulla eu tellus semper, eget fringilla enim vestibulum. Phasellus mollis aliquam sodales. Donec laoreet dolor eu mattis consectetur. Etiam lacinia odio sed pharetra maximus. Duis vitae dolor lorem.</p>

<p>Donec placerat ornare eros, quis cursus dui eleifend et. Maecenas ultrices lacus aliquet diam interdum, at volutpat nulla tempus. Phasellus tempor velit eget iaculis accumsan. Sed venenatis fermentum erat ut fringilla. Suspendisse tellus turpis, pretium quis hendrerit eu, semper vitae metus. Nam sit amet turpis sed metus bibendum luctus quis sit amet metus. Proin ut interdum nunc. Morbi mollis, orci sed rutrum molestie, ante urna cursus neque, ut vulputate nunc dui vitae tellus. Aliquam malesuada velit molestie nibh eleifend, pulvinar feugiat lectus congue. Praesent blandit, est ut malesuada ultricies, libero justo pulvinar purus, a lobortis lorem elit vel metus. Sed finibus luctus dignissim. Aenean porta efficitur tempor. Etiam euismod purus eget augue pretium, mollis gravida metus vehicula. Proin eget purus vehicula, fermentum erat id, congue ipsum. Vivamus vel dolor risus.</p>

{% endblock content %}



